absl-py>=0.12.0
aiohttp>=3.8.4
aiohttp-socks>=0.6.0
aiosignal>=1.3.1
alembic>=1.6.5
arxiv>=1.4.4
astunparse>=1.6.3
async-timeout>=4.0.2
attrs>=21.2.0
beautifulsoup4>=4.9.3
bs4>=0.0.1
cachetools>=4.2.2
certifi>=2020.11.8
chardet>=3.0.4
charset-normalizer>=3.1.0
click>=8.0.1
colorama>=0.4.4
dataclasses-json>=0.5.7
deepdiff>=5.0.2
emoji>=1.6.1
feedparser>=6.0.10
filelock>=3.0.12
Flask>=2.0.1
flatbuffers>=1.12
Frozen-Flask>=0.18
frozenlist>=1.3.3
gast>=0.4.0
google-auth>=1.30.2
google-auth-oauthlib>=0.4.4
google-pasta>=0.2.0
greenlet>=1.1.0
grpcio>=1.34.1
h5py>=3.1.0
huggingface-hub>=0.0.8
idna>=2.10
importlib-metadata>=3.1.0
itsdangerous>=2.0.1
Jinja2>=3.0.1
joblib>=1.0.1
jsonpickle>=2.0.0
keras-nightly>=2.5.0.dev2021032900
Keras-Preprocessing>=1.1.2
langchain>=0.0.138
llama-index>=0.5.13.post1
lxml>=4.6.3
Mako>=1.1.4
Markdown>=3.3.4
MarkupSafe>=2.0.1
marshmallow>=3.19.0
marshmallow-enum>=1.5.1
mergedeep>=1.3.4
mmh3>=2.5.1
multidict>=5.1.0
mutagen>=1.45.1
mypy-extensions>=1.0.0
nltk>=3.6.2
numpy>=1.24.2
oauthlib>=3.1.1
openai>=0.27.4
openapi-schema-pydantic>=1.2.4
opt-einsum>=3.3.0
ordered-set>=4.0.2
packaging>=20.9
pandas>=2.0.0
Pillow>=8.2.0
protobuf>=3.17.3
psutil>=5.8.0
pyasn1>=0.4.8
pyasn1-modules>=0.2.8
pydantic>=1.10.7
pyparsing>=2.4.7
PyPDF2>=3.0.1
PySocks>=1.7.1
python-dateutil>=2.8.2
python-docx>=0.8.11
python-editor>=1.0.4
python-socks>=1.2.4
pytz>=2023.3
PyYAML>=6.0
regex>=2023.3.23
requests>=2.28.2
requests-oauthlib>=1.3.0
rsa>=4.7.2
sacremoses>=0.0.45
scikit-learn>=0.24.2
scipy>=1.6.3
selenium>=3.141.0
selenium-wire>=2.1.2
sentence-transformers>=1.2.0
sentencepiece>=0.1.95
sgmllib3k>=1.0.0
six>=1.15.0
soupsieve>=2.0.1
SQLAlchemy>=1.4.20
tenacity>=8.2.2
termcolor>=1.1.0
threadpoolctl>=2.1.0
tiktoken>=0.3.3
tokenizers>=0.10.3
tqdm>=4.62.3
transformers>=4.6.1
typing-inspect>=0.8.0
typing_extensions>=4.5.0
tzdata>=2023.3
ujson>=4.0.2
urllib3>=1.26.6
user-agent>=0.1.9
Werkzeug>=2.0.1
wikipedia>=1.4.0
win32-setctime>=1.0.3
wrapt>=1.12.1
yarl>=1.6.3
zipp>=3.4.0
