.toolbar {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-top: 4px;
    flex-wrap: wrap;
}

.outer-body {
    color: black;
    font-size: 22px;
    padding-top: 16px;
    padding-left: 16px;
    text-align: center;
}

.title-segment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    flex-basis: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    padding-bottom: 8px;
}

.full-flex-row {
    flex-basis: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
}

.autocomplete-div {
    display: flex;
    flex-wrap: wrap;
}

.autocomplete-label {
    flex-basis: 100%;
    font-size: 16px;
    text-align: left;
    margin-bottom: 4px;
}